#answer-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #word-info, #correct-answer {
    text-align: center;
  }
  
  #word-info {
    color: #000; /* black */
  }
  
  #correct-answer {
    color: #aaa; /* light grey */
  }
  
  #correct-answer .answer {
    color: lightred;
    font-weight: bold;
  }
  
  #word-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    transition: background-color 0.5s, border-color 0.5s;
    text-align: center;
  }
  
  #word-input:hover {
    border-color: #999;
  }
  
  #word-input.correct,
  #word-input.incorrect,
  input[disabled] {
    color: #fff;
  }
  
  #word-input.correct {
    background-color: lightgreen;
  }
  
  #word-input.incorrect {
    background-color: lightpink;
  }
  
  input.no-hover:hover {
    border-color: #ddd;
  }
  
  #submit-answer, #submit-answer.next {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  
  #submit-answer:hover {
    background-color: #ff9900;
  }
  
  #submit-answer.next {
    background-color: #ff9900;
  }
  
  #correct-answer {
    margin-top: 20px;
    font-size: 1.1rem;
  }
  
  #correct-answer .answer {
    color: lightred;
    font-weight: bold;
  }  